# Dependencies
node_modules/
package-lock.json

# Next.js
.next/
out/

# Production
build/

# Debug
npm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/